
#include "keycodes.h"

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };




/*                KEY POSITIONS

  ╭────────────────────────╮         ╭────────────────────────╮
  │  0   1   2   3   4   5 │         │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │         │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 ╰───╮ ╭───╯ 30  31  32  33  34  35 │
  ╰───────────────╮ 36  37  38 │ │ 39  40  41 ╭───────────────╯
                  ╰────────────╯ ╰────────────╯
*/

COMBO(testqw, &kp W, 1 2, COLEMAK)
//COMBO(test_lt, &lt NUM N3, 12 13, COLEMAK)    // combo_test_lt for testing the use of layer tap combos so that can be used to compensate for REPEAT not working with a LT
COMBO(Activate_Gaming_Layer, &to GAMING, 9 10 11, COLEMAK)


// LAYER gaming
COMBO(Activate_Colemak_Layer, &to COLEMAK, 9 10 11, GAMING)
COMBO(ESC,      &kp ESC, 0 12, GAMING)
COMBO(Number_1, &kp N1,  1 13, GAMING)
COMBO(Number_2, &kp N2,  2 14, GAMING)
COMBO(Number_3, &kp N3,  3 15, GAMING)
COMBO(Number_4, &kp N4,  4 16, GAMING)
COMBO(Number_5, &kp N5,  5 17, GAMING)
COMBO(Number_6, &kp N6,  6 18, GAMING)
COMBO(Number_7, &kp N7,  7 19, GAMING)
COMBO(Number_8, &kp N8,  8 20, GAMING)
COMBO(Number_9, &kp N9,  9 21, GAMING)
COMBO(Number_0, &kp N0, 10 22, GAMING)


/*                KEY POSITIONS

  ╭────────────────────────╮         ╭────────────────────────╮
  │  0   1   2   3   4   5 │         │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │         │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 ╰───╮ ╭───╯ 30  31  32  33  34  35 │
  ╰───────────────╮ 36  37  38 │ │ 39  40  41 ╭───────────────╯
                  ╰────────────╯ ╰────────────╯
*/

COMBO(Number_0, &ht_lcbracket_leftparleftbrack KC_LCBR 0, 16 17, COLEMAK)
COMBO(Number_0, &ht_lcbracket_rightparrightbrack KC_RCBR 0, 18 19, COLEMAK)

COMBO(Number_0, &ht_lcbracket_leftparleftbrack KC_LCBR 0, 7 19, COLEMAK)
COMBO(Number_0, &ht_lcbracket_rightparrightbrack KC_RCBR 0, 8 20, COLEMAK)