/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define NAV 1
#define NUM 2

#include "keycodes.h"

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
          combos {
                #include "combos.dtsi"
          };
          macros {
                #include "macros.dtsi"

          };
          behaviors {
            mm_quote_accent: mm_quote_accent {
              compatible = "zmk,behavior-mod-morph";
              label = "MM_QUOTE_ACCENT";
              #binding-cells = <0>;
              bindings = <&kp KC_QUOT>, <&macro_accent>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
 //           mm_dquote_acute: mm_dquote_acute {
 //             compatible = "zmk,behavior-mod-morph";
//              label = "MM_DQUOTE_ACUTE";
 //             #binding-cells = <0>;
 //             bindings = <&kp KC_DQUOT>, <&macro_acute>;
 //             mods = <(MOD_LSFT|MOD_RSFT)>;
 //           };

  //          ht_quotes_accent: ht_quotes_accent {
  //            compatible = "zmk,behavior-hold-tap";
  //            label = "HT_QUOTES_ACCENT";
  //            #binding-cells = <2>;
 //            tapping-term-ms = <500>;
 //             quick-tap-ms = <0>;
 //             flavor = "tap-preferred";
//              bindings = <&mm_quote_accent>, <&mm_abrackets>;
//            };

          };

         
        keymap {
                compatible = "zmk,keymap";




//  Base Layer: COLEMAK
//    
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │    Q    │    W    │    F    │    P    │    B    ║                       ║    J    │    L    │    U    │    Y    │    ¿    │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │    ?    │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  */ /*  │    A    │    R    │    S    │    T    │    G    ║                       ║    M    │    N    │    E    │    I    │    O    │   " ^   ║
//  ║   / \   │         │         │         │         │         ║                       ║         │         │         │         │         │   ' `   ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  CTRL   │    Z    │  TEST1  │  TEST2  │  TEST3  │    V    ║                       ║    K    │    H    │   , ;   │   . :   │  - _    │  CTRL   ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═══════════════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═══════════════════╧═════════╧═════════╝
//                                          ║   RPT   │  SHIFT  │   NAV   ║   ║   NUM   │ BCKSPC  │  ENTER  ║
//                                          ║         │         │   REP   ║   ║   SPC   │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                default_layer { label = "COLEMAK"; bindings = <
     ___TAB___ ____Q____ ____W____ ____F____ ____P____ ____B____                         ____Y____ ____L____ ____U____ ____Y____ __QUEST__ _________
     __SLASH__ ____A____ ____R____ ____S____ ____T____ ____G____                         ____M____ ____N____ ____E____ ____I____ ____O____ __QUOT___
     __LCTRL__ __TEST1__ ____X____ _________ ____V____                         ____K____ ____H____ __COMMA__ ___DOT___ __MINUS__ __RCTRL__
                                             _________ __LSHFT__ _NAVREP__     _NUMSPC__ __BKSPC__ __ENTER__
                        >;};


//  Base Layer: NAV
//    
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │         │   CUT   │  COPY   │  PASTE  │ BACKSPC ║                       ║  INSERT │   INI   │  PREPAG │  AVPAG  │   END   │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  REDO   │  UNDO   │   ALT   │  SHIFT  │  CTRL   │ SEARCH  ║                       ║         │  LEFT   │  DOWN   │   UP    │  RIGHT  │         ║
//  ║         │         │         │         │         │  ENTER  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║    \    │         │         │         │         │   ESC   ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │   MENU  ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═══════════════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═══════════════════╧═════════╧═════════╝
//                                          ║  BOOTL  │         │XXXXXXXXX║   ║   SPC   │ BCKSPC  │  ENTER  ║
//                                          ║         │         │XXXXXXXXX║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                navigation_layer { label = "NAV"; bindings = <
     ___TAB___ _________ ___CUT___ __COPY___ __PASTE__ __BKSPC__                         __INSRT__ ___INI___ __PGUP___ __PGDN___ ___END___ _________
     __REDO___ __UNDO___ ___LALT__ __LSHFT__ __LCTRL__ ___TEMP__                         _________ __LEFT___ __DOWN___ ___UP____ __RIGHT__ _________
     _________ _________ _________ _________ _________ ___TEMP__                         _________ _________ _________ _________ _________ _________
                                             __BOOTL__ X_______X X_______X     _________ _________ _________
                        >;};



//  Base Layer: NUM
//    
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║   ALT   │         │    %    │    /    │    *    │    ÷    ║                       ║    !    │    +    │    -    │    =    │    €    │    ±    ║
//  ║   TAB   │         │         │         │         │    ×    ║                       ║         │         │         │         │         │    ~    ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  SHIFT  │    1    │    2    │    3    │    4    │    5    ║                       ║    6    │    7    │    8    │    9    │    0    │    _    ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │         │         │         │         │    ∞    ║                       ║         │         │    ,    │    .    │    ≥    │         ║
//  ║         │         │         │         │         │    º    ║                       ║         │         │         │         │    ≤    │         ║
//  ╚═════════╧═════════╧═══════════════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═══════════════════╧═════════╧═════════╝
//                                          ║  ENTER  │ BCKSPC  │   SPC   ║   ║XXXXXXXXX│         │  BOOTL  ║
//                                          ║         │         │         ║   ║XXXXXXXXX│         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                num_layer { label = "NUM"; bindings = <
     __ALTAB__ _________ _PERCENT_ __SLASH__ _ASTRSK__ ___TEMP__                         _EXCLAM__ ___PLUS__ __MINUS__ __EQUAL__ ___EUR___ ___TEMP__
     __LSHFT__ ____1____ ____2____ ____3____ ____4____ ____5____                         ____6____ ____7____ ____8____ ____9____ ____0____ ___TEMP__
     __LCTRL__ _________ _________ _________ _________ ___TEMP__                         _________ _________ __COMMA__ ___DOT___ ___TEMP__ _________
                                             __ENTER__ __BKSPC__ ___SPC___     X_______X X_______X __BOOTL__
                        >;};




        };
};