/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define COLEMAK 0
#define ACCENTS 1
#define GAMING  2
#define NAV 3
#define NUM 4
#define LNPAD 5
#define RNPAD 6
#define FUNC 7
#define EXTRA 8

#include "keycodes.h"
#include <dt-bindings/zmk/mouse.h>

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

&sk {
      release-after-ms = <1500>;
      quick-release;
};  
&mmv {    time-to-max-speed-ms = <1000>;};

/ {

        combos {
              #include "combos.dtsi"
        };
        macros {
              #include "macros.dtsi"
        };
        behaviors {

              #include "behaviors.dtsi"
        };

     
        keymap {
                compatible = "zmk,keymap";




//  Base Layer: COLEMAK
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │    Q    │    W    │    F    │    P    │    B    ║                       ║    J    │    L    │    U    │    Y    │   ! ¡   │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │   ? ¿   │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  */ /*  │    A    │   ALT   │   CTRL  │   WIN   │    G    ║                       ║    M    │   WIN   │   CTRL  │   ALT   │    O    │   ` ^   ║
//  ║   / \   │         │    R    │    S    │    T    │         ║                       ║         │    N    │    E    │    I    │         │   ' "   ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │    Z    │    X    │    C    │    D    │    V    ║                       ║    K    │    H    │   , ;   │   . :   │  → =    │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │  - _    │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║ CAPSWRD │  CAPS   │   NAV   ║   ║   NUM   │  EXTRA  │ CAPSLCK ║
//                                          ║         │  SHIFT  │   REP   ║   ║   SPC   │  BKSPC  │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                default_layer { label = "COLEMAK"; bindings = <
     _________ ____Q____ ____W____ ____F____ ____P____ ____B____                         ____J____ ____L____ ____U____ ____Y____ _QUSTCLM_ _________
     _SLSHCOM_ ____A____ __ALT_R__ __CTL_S__ __WIN_T__ ____G____                         ____M____ __WIN_N__ __CTL_E__ __ALT_I__ ____O____ _QUOTACC_
     _________ ____Z____ ____X____ ____C____ ____D____ ____V____                         ____K____ ____H____ _COMLESS_ _DOT_GRT_ MINUNEQAR _________
                                             _CAPSWRD_ _OSSHIFT_ _NAV_REP_     _NUM_SPC_ XTRABKSPC _CAPSLCK_
                        >;};


//  Base Layer: ACCENTS
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │         │         │         │         │         ║                       ║         │         │    Ü    │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │   Ú U   │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │    Á    │         │         │         │         ║                       ║         │    Ñ    │    É    │    Í    │    Ó    │         ║
//  ║         │    A    │         │         │         │         ║                       ║         │    N    │    E    │    I    │    O    │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                letter_accents_layer { label = "ACCENTS"; bindings = <
     X_______X X_______X X_______X X_______X X_______X X_______X                         X_______X X_______X __ACC_U__ X_______X X_______X X_______X
     X_______X __ACC_A__ X_______X X_______X X_______X X_______X                         X_______X _ACC_ENE_ __ACC_E__ __ACC_I__ __ACC_O__ X_______X
     X_______X X_______X X_______X X_______X X_______X X_______X                         X_______X X_______X X_______X X_______X X_______X X_______X
                                             X_______X X_______X X_______X     X_______X X_______X X_______X
                        >;};

//  Base Layer: GAMING
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │    Q    │    W    │    E    │    R    │    T    ║                       ║    Y    │    U    │    I    │    O    │    P    │ BCKSPC  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ CAPSLCK │    A    │    S    │    D    │    F    │    G    ║                       ║    H    │    J    │    K    │    L    │   ! ¡   │  RSHFT  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │   ? ¿   │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │    Z    │    X    │    C    │    V    │    B    ║                       ║    N    │    M    │   , ;   │   . :   │  - _    │  RCTRL  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  LALT   │  SHIFT  │   SPC   ║   ║   SPC   │  ENTER  │  RALT   ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                gaming_layer { label = "GAMING"; bindings = <
     ___TAB___ ____Q____ ____W____ ____E____ ____R____ ____T____                         ____Y____ ____U____ ____I____ ____O____ ____P____ __BKSPC__
     _CAPSLCK_ ____A____ ____S____ ____D____ ____F____ ____G____                         ____H____ ____J____ ____K____ ____L____ _QUSTCLM_ __RSHFT__
     __LCTRL__ ____Z____ ____X____ ____C____ ____V____ ____B____                         ____N____ ____M____ __COMMA__ ___DOT___ __MINUS__ __RCTRL__
                                             ___LALT__ __LSHFT__ ___SPC___     ___SPC___ __ENTER__ ___RALT__
                        >;};

//  Base Layer: NAV
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │ZOOM  CLS│CLIP HIST│SELECTALL│   F2    │ BACKSPC ║                       ║  DELETE │   INI   │  PREPAG │  AVPAG  │   END   │  INSERT ║
//  ║         │ZOOM +/- │   CUT   │  COPY   │  PASTE  │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  REDO   │  UNDO   │  LNPAD  │  SHIFT  │  CTRL   │ SEARCH  ║                       ║   SPC   │  LEFT   │  DOWN   │   UP    │  RIGHT  │         ║
//  ║         │         │         │         │         │  ENTER  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  RESET  │         │         │  LWIN   │ ALT+TAB │   MENU  ║                       ║         │         │         │         │         │         ║
//  ║  SOFT   │         │         │         │         │   ESC   ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  RESET  │         │XXXXXXXXX║   ║         │         │         ║
//                                          ║  BOOTL  │         │XXXXXXXXX║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                navigation_layer { label = "NAV"; bindings = <
     _________ _ZMOUTCL_ CLPHSTCUT _CPYSLAL_ _PASTEF2_ __BKSPC__                         ___DEL___ ___INI___ __PGDN___ __PGUP___ ___END___ __INSRT__
     __REDO___ __UNDO___ __LNPAD__ __LSHFT__ __LCTRL__ _SRCHENT_                         ___SPC___ __LEFT___ __DOWN___ ___UP____ __RIGHT__ _________
     __RESET__ _________ _________ __LWIN___ _ALT_TAB_ _ESCMENU_                         _________ _________ _________ _________ _________ _________
                                             __BOOTL__ X_______X X_______X     _________ _________ _________
                        >;};



//  Base Layer: NUM
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║   ALT   │         │    %    │    /    │    *    │    ÷    ║                       ║    !    │    +    │    -    │    =    │    €    │    ±    ║
//  ║         │         │         │         │         │    ×    ║                       ║         │         │         │         │         │    ~    ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  SHIFT  │    1    │    2    │    3    │    4    │    5    ║                       ║    6    │    7    │    8    │    9    │    0    │    _    ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │         │         │         │         │  ¼ ½ ∞  ║                       ║         │         │    ,    │    .    │         │  RESET  ║
//  ║         │         │         │         │         │  ³ ² º  ║                       ║         │         │         │         │         │  SOFT   ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │ BCKSPC  │   SPC   ║   ║XXXXXXXXX│         │  RESET  ║
//                                          ║         │         │         ║   ║XXXXXXXXX│         │  BOOTL  ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                num_layer { label = "NUM"; bindings = <
     ___LALT__ _________ _PERCENT_ __SLASH__ _ASTRSK__ _MULTDIV_                         _EXCLAM__ ___PLUS__ __MINUS__ __EQUAL__ ___EUR___ _TILDEPM_
     __LSHFT__ ____1____ ____2____ ____3____ ____4____ ____5____                         ____6____ ____7____ ____8____ ____9____ ____0____ __UNDRS__
     __LCTRL__ _________ _________ _________ _________ _TDORDNF_                         _________ _________ __COMMA__ ___DOT___ _________ __RESET__
                                             _________ __BKSPC__ ___SPC___     X_______X X_______X __BOOTL__
                        >;};


//  Base Layer: LNPAD
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║   TAB   │    *    │    7    │    8    │    9    │    -    ║                       ║ SCROLL  │   U-L   │    U    │   U-R   │         │         ║
//  ║         │    /    │         │         │         │    +    ║                       ║   UP    │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  EQUAL  │    .    │    4    │    5    │    6    │ DELETE  ║                       ║ SCROLL  │    L    │         │    R    │ SCROLL  │ SCROLL  ║
//  ║ UNDERSC │         │         │         │         │ BCKSPC  ║                       ║   DN    │         │         │         │  LEFT   │  RIGHT  ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │    ,    │    1    │    2    │    3    │   SPC   ║                       ║         │   D-L   │    D    │   D-R   │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  LALT   │ LSHIFT  │XXXXXXXXX║   ║  LEFT   │  RIGHT  │   MID   ║
//                                          ║  NLOCK  │  ENTER  │XXXXXXXXX║   ║  CLICK  │  CLICK  │  CLICK  ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                left_numpad_layer { label = "LNPAD"; bindings = <
     ___TAB___ _NSLSASK_ ___KP7___ ___KP8___ ___KP9___ _NPLUSMN_                         _SCRL_UP_ _________ __M__UP__ _________ _________ _________
     _UNDSEQU_ __KPDOT__ ___KP4___ ___KP5___ ___KP6___ _BKSPCDL_                         _SCRL_DN_ _M__LEFT_ _________ _M_RIGHT_ _SCRL_LF_ _SCRL_RT_
     __LCTRL__ __COMMA__ ___KP1___ ___KP2___ ___KP3___ ___SPC___                         _________ _________ _M__DOWN_ _________ _________ _________
                                             _LANLOCK_ _SFTBENT_ _NPADKP0_     _M_LCLCK_ _M_RCLCK_ _M_MCLCK_
                        >;};



//  Base Layer: RNPAD
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │         │         │         │         │         ║                       ║    -    │    7    │    8    │    9    │    *    │   TAB   ║
//  ║         │         │         │         │         │         ║                       ║    +    │         │         │         │    /    │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║ DELETE  │    4    │    5    │    6    │    .    │  EQUAL  ║
//  ║         │         │         │         │         │         ║                       ║ BCKSPC  │         │         │         │         │ UNDERSC ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║   SPC   │    1    │    2    │    3    │    ,    │  RCTRL  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │XXXXXXXXX║   ║XXXXXXXXX│ LSHIFT  │  LALT   ║
//                                          ║         │         │XXXXXXXXX║   ║XXXXXXXXX│  ENTER  │  NLOCK  ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                right_numpad_layer { label = "RNPAD"; bindings = <
     _________ _________ _________ _________ _________ _________                         _NPLUSMN_ ___KP7___ ___KP8___ ___KP9___ _NSLSASK_ ___TAB___
     _________ _________ _________ _________ _________ _________                         _BKSPCDL_ ___KP4___ ___KP5___ ___KP6___ __KPDOT__ _UNDSEQU_
     _________ _________ _________ _________ _________ _________                         ___SPC___ ___KP1___ ___KP2___ ___KP3___ __COMMA__ __LCTRL__
                                             _________ _________ _________     _NPADKP0_ _SFTBENT_ _LANLOCK_
                        >;};




//  Base Layer: FUNC
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║ ONESHOT │   F1    │   F2    │   F3    │   F4    │  PRINT  ║                       ║         │   F13   │   F14   │   F15   │   F16   │         ║
//  ║   ALT   │         │         │         │         │ SCREEN  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ ONESHOT │   F5    │   F6    │   F7    │   F8    │  SNIP   ║                       ║         │   F17   │   F18   │   F19   │   F20   │         ║
//  ║  SHIFT  │         │         │         │         │ SCREEN  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ ONESHOT │   F9    │   F10   │   F11   │   F12   │         ║                       ║         │   F21   │   F22   │   F23   │   F24   │         ║
//  ║  CTRL   │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │XXXXXXXXX│         ║   ║         │         │         ║
//                                          ║         │XXXXXXXXX│         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  

                function_layer { label = "FUNC"; bindings = <
     __OSALT__ ___F1____ ___F2____ ___F3____ ___F4____ _PRNTSCN_                         _________ ___F13___ ___F14___ ___F15___ ___F16___ _________
     _OSSHIFT_ ___F5____ ___F6____ ___F7____ ___F8____ _SNIPSCN_                         _________ ___F17___ ___F18___ ___F19___ ___F20___ _________
     __OSCTL__ ___F9____ ___F10___ ___F11___ ___F12___ _________                         _________ ___F21___ ___F22___ ___F23___ ___F24___ _________
                                             _________ X_______X _________     _________ _________ _________
                        >;};

//  Base Layer: EXTRA
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │   BT    │   USB   │ BT  USB │         │         ║                       ║         │   INI   │  AVPAG  │ PREPAG  │   END   │         ║
//  ║         │PREFERRED│PREFERRED│ TOGGLE  │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║   BT    │   BT    │   BT    │   BT    │   BT    │   BT    ║                       ║         │  MEDIA  │  MEDIA  │  MEDIA  │         │         ║
//  ║  CLEAR  │    1    │    2    │    3    │    4    │    5    ║                       ║         │  PREV   │  PLAY   │  NEXT   │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │   VOL   │   VOL   │   VOL   │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │  MUTE   │    UP   │   DWN   │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │         ║   ║         │XXXXXXXXX│         ║
//                                          ║         │         │         ║   ║         │XXXXXXXXX│         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  

                extra_layer { label = "EXTRA"; bindings = <
     _________ _BT_PREF_ _USBPREF_ BTUSBTOGG _________ _________                         _________ ___INI___ __PGDN___ __PGUP___ ___END___ _________
     _BT__CLR_ __BT__1__ __BT__2__ __BT__3__ __BT__4__ __BT__5__                         _________ __MPREV__ __MPLAY__ __MPNXT__ _________ _________
     _________ _________ _________ _________ _________ _________                         _________ __MUTE___ __VOLUP__ __VOLDN__ _________ _________
                                             _________ _________ _________     _________ X_______X _________
                        >;};

              

//  Base Layer: BLANK
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
/*
                numpad_layer { label = "NPAD"; bindings = <
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
                                             _________ _________ _________     _________ _________ _________
                        >;};

*/


        };
};