/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define COLEMAK 0
#define ACCENTS 1
#define GAMING  2
#define NAV 3
#define NUM 4
#define NPAD 5
#define FUNC 6
#define EXTRA 6

#include "keycodes.h"

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/ {
          combos {
                #include "combos.dtsi"
          };
          macros {
                #include "macros.dtsi"

          };
          behaviors {
            // LAYER COLEMAK ************************************************************************************************************************
            mm_quote_accent: mm_quote_accent {        // ' `
              compatible = "zmk,behavior-mod-morph"; label = "MM_QUOTE_ACCENT";
              #binding-cells = <0>; bindings = <&kp KC_QUOT>, <&macro_accent>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            mm_dquote_acute: mm_dquote_acute {        // " ^
              compatible = "zmk,behavior-mod-morph"; label = "MM_DQUOTE_ACUTE";
              #binding-cells = <0>; bindings = <&kp KC_DQUOT>, <&macro_acute>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

            ht_quotes_accent: ht_quotes_accent {      //  ' ` ' ^/ 
            compatible = "zmk,behavior-hold-tap"; label = "HT_QUOTES_ACCENT";
              #binding-cells = <2>; tapping-term-ms = <300>; quick-tap-ms = <0>; flavor = "tap-preferred";
              bindings = <&mm_dquote_acute>, <&mm_quote_accent>;
            };


            mm_slash_bslash: mm_slash_bslash {        
              compatible = "zmk,behavior-mod-morph"; label = "MM_SLASH_BSLASH";
              #binding-cells = <0>; bindings = <&kp KC_SLASH>, <&kp KC_BSLASH>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            mm_inicomment_endcomment: mm_inicomment_endcomment {        
              compatible = "zmk,behavior-mod-morph"; label = "MM_INICOMMENT_ENDCOMMENT";
              #binding-cells = <0>; bindings = <&macro_ini_comment>, <&macro_end_comment>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

            ht_slash_comments: ht_slash_comments {      
            compatible = "zmk,behavior-hold-tap"; label = "HT_SLASH_COMMENTS";
              #binding-cells = <2>; tapping-term-ms = <300>; quick-tap-ms = <200>;
              flavor = "tap-preferred";
              bindings = <&mm_inicomment_endcomment>, <&mm_slash_bslash>;
            };

            mm_quest_oquest: mm_quest_oquest {              //  ? → ¿
              compatible = "zmk,behavior-mod-morph"; label = "MM_QUEST_OQUEST";
              #binding-cells = <0>; bindings = <&kp KC_QUEST>, <&kp KC_OQUEST>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            mm_exclam_oexclam: mm_exclam_oexclam {        //   ! → ¡
              compatible = "zmk,behavior-mod-morph"; label = "MM_EXCLAM_OEXCLAM";
              #binding-cells = <0>; bindings = < &kp KC_EXCLAM>, <&kp KC_OEXCLAM>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_quest_exclam: ht_quest_exclam {             //  ? ¿ ! ¡
            compatible = "zmk,behavior-hold-tap"; label = "HT_QUEST_EXCLAM";
              #binding-cells = <2>; tapping-term-ms = <300>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_exclam_oexclam>, <&mm_quest_oquest>;
            };

            ht_custom_tap_tap: ht_custom_tap_tap {             // REUSABLE tap for both the hold and the tap actions, so two keys are expected as parameters
              compatible = "zmk,behavior-hold-tap"; label = "HT_CUSTOM_TAP_TAP";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&kp>, <&kp>;
            };

            ht_nav_rep: ht_nav_rep {             //  NAV - REP
              compatible = "zmk,behavior-hold-tap"; label = "HT_NAV_REP";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mo>, <&key_repeat>;
            };
            ht_npad_rep: ht_npad_rep {             //  NAV - REP
              compatible = "zmk,behavior-hold-tap"; label = "HT_NPAD_REP";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&tog>, <&key_repeat>;
            };
            ht_custom_mo_tap: ht_custom_mo_tap {             
              compatible = "zmk,behavior-hold-tap"; label = "HT_CUSTOM_MO_TAP";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mo>, <&kp>;
            };   
            ht_custom_tog_tap: ht_custom_tog_tap {             
              compatible = "zmk,behavior-hold-tap"; label = "HT_CUSTOM_TOG_TAP";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&tog>, <&kp>;
            };          
            ht_custom_mod_toggle: ht_custom_mod_toggle {             // RCTRL → TOGGLE LANGUAGE LAYER
              compatible = "zmk,behavior-hold-tap"; label = "HT_CUSTOM_MOD_TOGGLE";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <0>; flavor = "tap-preferred";
              bindings = <&kp>, <&tog>;
            };            
            // END LAYER COLEMAK ********************************************************************************************************************
            
            
            // LAYER ACCENTS ************************************************************************************************************************
            mm_accent_a: mm_accent_a {              //  á → Á
              compatible = "zmk,behavior-mod-morph"; label = "MM_ACCENT_A";
              #binding-cells = <0>; bindings = <&macro_accent_a>, <&macro_accent_a_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_accent_a: ht_accent_a {             //  aA → áÁ
            compatible = "zmk,behavior-hold-tap"; label = "HT_ACCENT_A";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_accent_a>, <&kp>;
            };                
		      	mm_accent_e: mm_accent_e {              //  é → É
              compatible = "zmk,behavior-mod-morph"; label = "MM_ACCENT_E";
              #binding-cells = <0>; bindings = <&macro_accent_e>, <&macro_accent_e_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_accent_e: ht_accent_e {             //  eE → éÉ
              compatible = "zmk,behavior-hold-tap"; label = "HT_ACCENT_E";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_accent_e>, <&kp>;
            };    
            mm_accent_i: mm_accent_i {              //  í → Í
              compatible = "zmk,behavior-mod-morph"; label = "MM_ACCENT_I";
              #binding-cells = <0>; bindings = <&macro_accent_i>, <&macro_accent_i_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_accent_i: ht_accent_i {             //  iI → íÍ
            compatible = "zmk,behavior-hold-tap"; label = "HT_ACCENT_I";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_accent_i>, <&kp>;
            };                
            mm_accent_o: mm_accent_o {              //  ó → Ó
              compatible = "zmk,behavior-mod-morph"; label = "MM_ACCENT_O";
              #binding-cells = <0>; bindings = <&macro_accent_o>, <&macro_accent_o_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_accent_o: ht_accent_o {             //  oO → óÓ
            compatible = "zmk,behavior-hold-tap"; label = "HT_ACCENT_O";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_accent_o>, <&kp>;
            };  
            mm_accent_u: mm_accent_u {              //  ú → Ú
              compatible = "zmk,behavior-mod-morph"; label = "MM_ACCENT_U";
              #binding-cells = <0>; bindings = <&macro_accent_u>, <&macro_accent_u_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            mm_dier_u: mm_dier_u {              //  ü → Ü
              compatible = "zmk,behavior-mod-morph"; label = "MM_DIER_U";
              #binding-cells = <0>; bindings = <&macro_dier_u>, <&macro_dier_u_shifted>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            ht_accent_u: ht_accent_u {             //  uU → úÚ
            compatible = "zmk,behavior-hold-tap"; label = "HT_ACCENT_U";
              #binding-cells = <2>; tapping-term-ms = <200>; quick-tap-ms = <200>; flavor = "tap-preferred";
              bindings = <&mm_accent_u>, <&kp>;
            };  
            td_accent_dier_u: td_accent_dier_u {     // uU / úÚ → üÜ
                compatible = "zmk,behavior-tap-dance"; label = "TD_ACCENT_DIER_U";
                #binding-cells = <0>; tapping-term-ms = <200>;
                bindings = <&ht_accent_u 0 U>, <&mm_dier_u>;
            };
            // END LAYER ACCENTS ********************************************************************************************************************



            // LAYER NPAD ***************************************************************************************************************************
            mm_backspace_delete: mm_backspace_delete {              //  ó → Ó
              compatible = "zmk,behavior-mod-morph"; label = "MM_BACKSPACE_DELETE";
              #binding-cells = <0>; bindings = <&kp BACKSPACE>, <&kp DELETE>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            // END LAYER NPAD ***********************************************************************************************************************





            td_nav_rep_npad_togglenpad: td_nav_rep_npad_togglenpad {     // test TAP-DANCE + two LAYER-TAPS      NAV-REP + NPADoREP + TOGGLENPAD
                compatible = "zmk,behavior-tap-dance"; label = "TD_NAV_REP_NPAD_TOGGLENPAD";
                #binding-cells = <0>; tapping-term-ms = <250>;
                bindings = <&ht_nav_rep NAV 0>, <&ht_npad_rep NPAD 0>, <&kp Y>;
            };
            td_num_spc_npad_togglenpad: td_num_spc_npad_togglenpad {     // test TAP-DANCE + two LAYER-TAPS      NAV-REP + NPADoREP + TOGGLENPAD
                compatible = "zmk,behavior-tap-dance"; label = "TD_NUM_SPC_NPAD_TOGGLENPAD";
                #binding-cells = <0>; tapping-term-ms = <250>;
                bindings = <&ht_custom_mo_tap NUM SPACE>, <&ht_custom_tog_tap NPAD SPACE>, <&kp SPACE>;
            };

          };

         
        keymap {
                compatible = "zmk,keymap";




//  Base Layer: COLEMAK
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │    Q    │    W    │    F    │    P    │    B    ║                       ║    J    │    L    │    U    │    Y    │   ! ¡   │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │   ? ¿   │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  */ /*  │    A    │    R    │    S    │    T    │    G    ║                       ║    M    │    N    │    E    │    I    │    O    │   ` ^   ║
//  ║   / \   │         │         │         │         │         ║                       ║         │         │         │         │         │   ' "   ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  lCTRL  │    Z    │    X    │    C    │    D    │    V    ║                       ║    K    │    H    │   , ;   │   . :   │  - _    │ ACCENTS ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │  RCTRL  ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║   RPT   │  SHIFT  │   NAV   ║   ║   NUM   │ BCKSPC  │  ENTER  ║
//                                          ║         │         │   REP   ║   ║   SPC   │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                default_layer { label = "COLEMAK"; bindings = <
     ___TAB___ ____Q____ ____W____ ____F____ ____P____ ____B____                         ____Y____ ____L____ ____U____ ____Y____ _QUSTCLM_ _________
     _SLSHCOM_ ____A____ ____R____ ____S____ ____T____ ____G____                         ____M____ ____N____ ____E____ ____I____ ____O____ _QUOTACC_
     __LCTRL__ __TEST1__ __TEST2__ __TEST3__ __TEST4__ ____V____                         ____K____ ____H____ __COMMA__ ___DOT___ __MINUS__ _RCTLACC_
                                             _________ __LSHFT__ _NAVREP__     _NUMSPC__ __BKSPC__ __ENTER__
                        >;};


//  Base Layer: ACCENTS
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │         │         │         │         │         ║                       ║         │         │    Ü    │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │   Ú U   │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │    Á    │         │         │         │         ║                       ║         │    Ñ    │    É    │    Í    │    Ó    │         ║
//  ║         │    A    │         │         │         │         ║                       ║         │    N    │    E    │    I    │    O    │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                letter_accents_layer { label = "ACCENTS"; bindings = <
     X_______X X_______X X_______X X_______X X_______X X_______X                         X_______X X_______X __ACC_U__ X_______X X_______X X_______X
     X_______X __ACC_A__ X_______X X_______X X_______X X_______X                         X_______X _ACC_ENE_ __ACC_E__ __ACC_I__ __ACC_O__ X_______X
     X_______X X_______X X_______X X_______X X_______X X_______X                         X_______X X_______X X_______X X_______X X_______X X_______X
                                             X_______X X_______X X_______X     X_______X X_______X X_______X
                        >;};

//  Base Layer: GAMING
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │    Q    │    W    │    E    │    R    │    T    ║                       ║    Y    │    U    │    I    │    O    │    P    │ BCKSPC  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ CAPSLCK │    A    │    S    │    D    │    F    │    G    ║                       ║    H    │    J    │    K    │    L    │   ! ¡   │  RSHFT  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │   ? ¿   │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │    Z    │    X    │    C    │    V    │    B    ║                       ║    N    │    M    │   , ;   │   . :   │  - _    │  RCTRL  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  LALT   │  SHIFT  │   SPC   ║   ║   SPC   │  ENTER  │  RALT   ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                gaming_layer { label = "GAMING"; bindings = <
     ___TAB___ ____Q____ ____W____ ____E____ ____R____ ____T____                         ____Y____ ____U____ ____I____ ____O____ ____P____ __BKSPC__
     _CAPSLCK_ ____A____ ____S____ ____D____ ____F____ ____G____                         ____H____ ____J____ ____K____ ____L____ _QUSTCLM_ __RSHFT__
     __LCTRL__ ____Z____ ____X____ ____C____ ____V____ ____B____                         ____N____ ____M____ __COMMA__ ___DOT___ __MINUS__ __RCTRL__
                                             ___LALT__ __LSHFT__ ___SPC___     ___SPC___ __ENTER__ ___RALT__
                        >;};

//  Base Layer: NAV
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║  TAB    │         │   CUT   │SELECTALL│   F2    │ BACKSPC ║                       ║  DELETE │   INI   │  PREPAG │  AVPAG  │   END   │  INSERT ║
//  ║         │         │         │  COPY   │  PASTE  │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  REDO   │  UNDO   │   ALT   │  SHIFT  │  CTRL   │ SEARCH  ║                       ║         │  LEFT   │  DOWN   │   UP    │  RIGHT  │         ║
//  ║         │         │         │         │         │  ENTER  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  RESET  │         │         │         │         │   MENU  ║                       ║         │         │         │         │         │         ║
//  ║  SOFT   │         │         │         │         │   ESC   ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  RESET  │         │XXXXXXXXX║   ║   SPC   │ BCKSPC  │  ENTER  ║
//                                          ║  BOOTL  │         │XXXXXXXXX║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
                navigation_layer { label = "NAV"; bindings = <
     ___TAB___ _________ ___CUT___ _CPYSLAL_ _PASTEF2_ __BKSPC__                         ___DEL___ ___INI___ __PGUP___ __PGDN___ ___END___ __INSRT__
     __REDO___ __UNDO___ ___LALT__ __LSHFT__ __LCTRL__ _SRCHENT_                         _________ __LEFT___ __DOWN___ ___UP____ __RIGHT__ _________
     __RESET__ _________ _________ _________ _________ _ESCMENU_                         _________ _________ _________ _________ _________ _________
                                             __BOOTL__ X_______X X_______X     ___SPC___ __BKSPC__ __ENTER__
                        >;};



//  Base Layer: NUM
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║   ALT   │         │    %    │    /    │    *    │    ÷    ║                       ║    !    │    +    │    -    │    =    │    €    │    ±    ║
//  ║   TAB   │         │         │         │         │    ×    ║                       ║         │         │         │         │         │    ~    ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  SHIFT  │    1    │    2    │    3    │    4    │    5    ║                       ║    6    │    7    │    8    │    9    │    0    │    _    ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │         │         │         │         │    ∞    ║                       ║         │         │    ,    │    .    │    ≥    │  RESET  ║
//  ║         │         │         │         │         │    º    ║                       ║         │         │         │         │    ≤    │  SOFT   ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  ENTER  │ BCKSPC  │   SPC   ║   ║XXXXXXXXX│         │  RESET  ║
//                                          ║         │         │         ║   ║XXXXXXXXX│         │  BOOTL  ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                num_layer { label = "NUM"; bindings = <
     __ALTAB__ _________ _PERCENT_ __SLASH__ _ASTRSK__ ___TEMP__                         _EXCLAM__ ___PLUS__ __MINUS__ __EQUAL__ ___EUR___ ___TEMP__
     __LSHFT__ ____1____ ____2____ ____3____ ____4____ ____5____                         ____6____ ____7____ ____8____ ____9____ ____0____ ___TEMP__
     __LCTRL__ _________ _________ _________ _________ ___TEMP__                         _________ _________ __COMMA__ ___DOT___ ___TEMP__ __RESET__
                                             __ENTER__ __BKSPC__ ___SPC___     X_______X X_______X __BOOTL__
                        >;};


//  Base Layer: NPAD
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║   TAB   │    *    │    7    │    8    │    9    │    -    ║                       ║    -    │    7    │    8    │    9    │    *    │   TAB   ║
//  ║         │    /    │         │         │         │    +    ║                       ║    +    │         │         │         │    /    │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  EQUAL  │    .    │    4    │    5    │    6    │ DELETE  ║                       ║ DELETE  │    4    │    5    │    6    │    .    │  EQUAL  ║
//  ║ UNDERSC │         │         │         │         │ BCKSPC  ║                       ║ BCKSPC  │         │         │         │         │ UNDERSC ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║  LCTRL  │    ,    │    1    │    2    │    3    │   SPC   ║                       ║   SPC   │    1    │    2    │    3    │    ,    │  RCTRL  ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║  LALT   │ LSHIFT  │XXXXXXXXX║   ║XXXXXXXXX│ LSHIFT  │  LALT   ║
//                                          ║  NLOCK  │  ENTER  │XXXXXXXXX║   ║XXXXXXXXX│  ENTER  │  NLOCK  ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
                numpad_layer { label = "NPAD"; bindings = <
     ___TAB___ _NSLSASK_ ___KP7___ ___KP8___ ___KP9___ _NPLUSMN_                         _NPLUSMN_ ___KP7___ ___KP8___ ___KP9___ _NSLSASK_ ___TAB___
     _UNDSEQU_ __KPDOT__ ___KP4___ ___KP5___ ___KP6___ _BKSPCDL_                         _BKSPCDL_ ___KP4___ ___KP5___ ___KP6___ __KPDOT__ _UNDSEQU_
     __LCTRL__ __COMMA__ ___KP1___ ___KP2___ ___KP3___ ___SPC___                         ___SPC___ ___KP1___ ___KP2___ ___KP3___ __COMMA__ __LCTRL__
                                             _LANLOCK_ _SFTBENT_ _NPADKP0_     _NPADKP0_ _SFTBENT_ _LANLOCK_
                        >;};


//  Base Layer: FUNC
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║ ONESHOT │   F1    │   F2    │   F3    │   F4    │  PRINT  ║                       ║         │   F13   │   F14   │   F15   │   F16   │         ║
//  ║   ALT   │         │         │         │         │ SCREEN  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ ONESHOT │   F5    │   F6    │   F7    │   F8    │  SNIP   ║                       ║         │   F17   │   F18   │   F19   │   F20   │         ║
//  ║  SHIFT  │         │         │         │         │ SCREEN  ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║ ONESHOT │   F9    │   F10   │   F11   │   F12   │         ║                       ║         │   F21   │   F22   │   F23   │   F24   │         ║
//  ║  CTRL   │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │XXXXXXXXX│XXXXXXXXX║   ║         │         │         ║
//                                          ║         │XXXXXXXXX│XXXXXXXXX║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  

                function_layer { label = "FUNC"; bindings = <
     _________ ___F1____ ___F2____ ___F3____ ___F4____ _PRNTSCN_                         _________ ___F13___ ___F14___ ___F15___ ___F16___ _________
     _________ ___F5____ ___F6____ ___F7____ ___F8____ _SNIPSCN_                         _________ ___F17___ ___F18___ ___F19___ ___F20___ _________
     _________ ___F9____ ___F10___ ___F11___ ___F12___ _________                         _________ ___F21___ ___F22___ ___F23___ ___F24___ _________
                                             X_______X X_______X X_______X     _________ _________ _________
                        >;};

               

//  Base Layer: BLANK
//  ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗                       ╔═════════╤═════════╤═════════╤═════════╤═════════╤═════════╗
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢                       ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╟─────────┼─────────┼─────────┼─────────┼─────────┼─────────║                       ║─────────┼─────────┼─────────┼─────────┼─────────┼─────────╢
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ║         │         │         │         │         │         ║                       ║         │         │         │         │         │         ║
//  ╚═════════╧═════════╧═════════╧═════════╬─────────┼─────────╬═════════╗   ╔═════════╬─────────┼─────────╬═════════╧═════════╧═════════╧═════════╝
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ║         │         │         ║   ║         │         │         ║
//                                          ╚═════════╧═════════╧═════════╝   ╚═════════╧═════════╧═════════╝
//  
/*
                numpad_layer { label = "NPAD"; bindings = <
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
     _________ _________ _________ _________ _________ _________                         _________ _________ _________ _________ _________ _________
                                             _________ _________ _________     _________ _________ _________
                        >;};

*/


        };
};