#include "keycodes.h"

repeat_macro: repeat_macro {
    label = "repeat_macro";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap  &key_repeat>
        ;
};
macro_accent: macro_accent {                    //  ` → ^ (with shift)
    label = "accent_macro";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings
        = <&macro_tap &kp LEFT_BRACKET &kp SPACE>
        ;
};
